---
layout: default
---

<div class="page-heading">

	<div class="command-kit">
		<div class="wrapper">
			<span class="banner-text">
				<span class="command-kit-icon"></span>
				<h3>Introducing DigitalOcean Command Kit.</h3>
				<span>55 seconds or less, from the command line.</span>
			</span>

			<a href="#" class="button white">Install Command Kit</a>

		</div>	
	</div>

	<div class="wrapper">
		<h1>Create Droplet</h1>
		<span class="help">?</span>
	</div>	
</div>

  <div class="page-content">
    <div class="wrapper">

			<section class="droplet-name">
				<h3>Name your droplet</h3>
				<input type="text">
				<span class="meta">Need help? How about the name <a href="#">“area51-backup”</a></span>
			</section>

		{% include build.html %}

		{% include size.html %}

    </div>
  </div>

