* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: $base-font-family;
}

body {
  color: $color-text;
  height: 100%;
  padding: 0 0 0 70px;
}

a {
  color: $color-brand;
  opacity: 1;
  text-decoration: none;
  transition: opacity .1s ease-in;

  &:hover {
    opacity: .7;
  }
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  padding: 0 20px;
  margin: 0 auto;
}

.page-heading {
  margin: 0;
  color: #fff;
  padding: 0px 0px;
  background: #2992CB;
  width: 100%;
  overflow: hidden;
}