* {
	-webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  height: 100%;
  padding: 0 70px;
}

a {
  color: $color-link;
  opacity: 1;
  transition: opacity .1s ease-in;

  &:hover {
    opacity: .8;
  }
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
