* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: $base-font-family;
}

body {
  color: $color-text;
  height: 100%;
  padding: 0;
}

a {
  color: $color-brand;
  opacity: 1;
  text-decoration: none;
  transition: opacity .1s ease-in;

  &:hover {
    opacity: .7;
  }
}

h1 {
  display: inline-block;
  font-weight: $font-weight-light;
  @include font-size(4.2);
  letter-spacing: -0.04em;
  margin: 50px 0;
}

h3 {
  color: #222;
  @include font-size(2.8);
  font-weight: $font-weight-normal;
}

h4 {
  color: #444;
  @include font-size(2.0);
  font-weight: $font-weight-normal;
  margin: 20px 0;
}

.title {
  display: inline-block;
  padding: 40px 0;
  overflow: hidden;
  vertical-align: center;
  width: 100%;

  h1 {
    @include line-height(6.2);
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    float: left;
  }
}

p {
  @include font-size(1.6);
  @include line-height(2.4);
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  padding: 0 20px;
  margin: 0 auto;
}

.site-header ~ * {
  padding-left: 70px;
}

.page-heading {
  margin: 0;
  color: #fff;
  background: #2992CB;
  width: 100%;
  overflow: hidden;
}
