.home {
  max-width: 800px;
  margin: 0 auto;
  
  h1 {
    @include font-size(4.8);
    @include line-height(2.8);   
    font-weight: $font-weight-light;
    margin: 30px 0;
    color: #222;
  }

  h2 {
    @include font-size(2.8);
    @include line-height(2.8);   
    font-weight: $font-weight-normal;
    margin: 60px 0 30px;
    padding-bottom: 10px;
    box-shadow: 0 1px 0 0 rgba(#000, .1);
    color: #333;
  }

  h3 {
    @include font-size(2.0);
    @include line-height(2.8);   
    font-weight: $font-weight-semi-bold;
    margin: 30px 0;
    color: #666;
  }

  p {
    @include font-size(1.8);
    @include line-height(2.8);
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: left;

    &:first-child {
      margin-top: 40px;
    }
  }
  
  li {
    @include line-height(2.8);
  }
  
  img {
    max-width: 100%;
    display: block;
    margin: 30px 0;
    border-radius: $border-radius;
    border: 1px solid $color-grey-light;
  }
  
  .title {
    color: #fff;
  }

  .user {
    width: 46%;
    margin-right: 2%;
    border: 1px solid #2ecc71;
    background: rgba(#2ecc71, .1);
    color: #222;
    display: inline-block;
    text-align: center;
    padding: 60px;
    border-radius: $border-radius;
  }

  .user:last-child {
    margin-right: 0;
  }

}

pre {
  background: #222;
  margin: 20px 0;
  padding: 20px;
  border-radius: $border-radius;
  max-width: 800px;

  code {
    padding: 0;
  }
}

code {
  @include font-size(1.4);
  @include line-height(2.0);
  color: #eee;
  background: #222;
  display: inline-block;
  padding: 2px 8px;
  border-radius: $border-radius;
}

.button {
  @include font-size(2.4);
  display: inline-block;
  background: $color-brand-green;
  padding: 25px;
  margin: 20px 0;
  width: 100%;
  color: #fff;
  border-radius: 3px;
  transition: background .1s ease-in;
  text-align: center;

  &:hover {
    background: darken($color-brand-green, 10%);
  }
}
