h3 {
	color: $color-grey;
	font-weight: $font-weight-light;
}

.title {
	display: inline-block;
	padding: 40px 0;
	overflow: hidden;
	vertical-align: center;
	width: 100%;

	h1 {
		@include line-height(6.2);
		display: inline-block;
		margin: 0;
		padding: 0;
	  vertical-align: middle;
	  float: left;
	}
}

.help-box {
	display: inline-block;
	height: 60px;
	width: 60px;
	@include line-height(6.0);
	text-align: center;
  border-radius: 3px;
  background: rgba(#fff, .2);
  vertical-align: middle;
 	float: right;
	transition: background .1s ease;

  &:before {
  	font-weight: normal;
  	@include font-size(1.6);
  	font-family: 'octicons';
  	content: '\f02c';
  	font-weight: $font-weight-bold;
  }

  &:hover {
  	background: rgba(#fff, .6);
  }
}

section {
	margin: 60px 0;
}

input[type="text"] {
	display: inline-block;
	width: 100%;
	box-shadow: 0 0 0 3px #F7F7F7;
	border: none;
	padding: 10px 20px;
	color: #666;
	@include font-size(2.0);
	@include line-height(3.2);
	margin-bottom: 20px;
	outline: none;
	transition: box-shadow .1s ease-in;

	&:focus {
		color: #000;
		box-shadow: 0 0 0 3px #479de4;	
	}
}

.page-heading {
	h1, h2, h3, h4 {
		color: #fff;
	}
}

.tabs {
	margin: 0;
	padding: 0;
	border-bottom: 3px solid #479de4;

	li {
		list-style-type: none;
		display: inline-block;
	}

	.tab {
		font-weight: bold;
		@include line-height(2.4);
		background: #f7f7f7;
		color: #666;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 12px;
		border-radius: 3px 3px 0 0;
		padding: 13px 20px 8px;
		transition: .1s background ease-in;

		&:hover {
			background: darken(#f7f7f7, 4%);
		}
	}

	.tab.active {
		color: #fff;
		background: #479de4;
	}
}

.tab-content {
	padding: 30px;
	border-bottom-left-radius: $border-radius;
	border-bottom-right-radius: $border-radius;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;

	input {
		margin-bottom: 30px;
		font-weight: 100;
	}
}

.applications {
	font-size: 0;
	padding: 0;
	margin: 0;

	.app {
		display: inline-block;
		width: calc((100% - 50px)/5);
		margin-right: 10px;
		transition: background .1s ease-in;
		font-size: 14px;
		color: #666;
		text-align: center;
		list-style-type: none;
		vertical-align: top;
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;

		&.active > .icon.wordpress:before {
			color: red !important;
		}
		
		.icon {
			display: block;
			width: 120px;
			height: 120px;
			margin: 20px auto 40px;
			border-radius: 100%;
			background: #F7F7F7;
			border: 5px solid darken(#F7F7F7, 2%);
			transition: all .1s ease;
	    font-family: "FontMfizz";
			color: #ccc;
			font-size: 64px;

		  &.redmine:before {
				line-height: 125px;
				content: '\f14a';
			}
		
			&.wordpress:before {
				line-height: 125px;
				content: '\f14a';
			}

			&.lamp:before {
				line-height: 120px;
				content: '\f139'
			}

			&.lemp:before {
				line-height: 124px;
				content: '\f143';
			}

			&.gitlab:before {
				line-height: 114px;
				content: '\f153';
			}

			&.jenkins:before {
				line-height: 120px;
				content: '\f10f';
			}

			&.nodejs:before {
				line-height: 115px;
			  content: '\f14c';
			}
			&.ruby:before {
				line-height: 110px;
			  content: '\f13b';
			}
			&.hubot:before {
				font-size: 54px;
				line-height: 105px;
				font-family: 'octicons';
			  content: '\f09d';
			}
		}

		&:hover {
			.icon {
				color: #999;
				border: 5px solid darken(#F7F7F7, 6%);
			}
		}

		&:nth-child(4n) {
			margin-right: 0px;
		}
	}

	.app.active {
		// color: #479DE4;

		.icon {
			font-weight: normal;
			border: 5px solid #4093D9;
		}
	}
}

.checkbox {
	margin-right: 15px;

		&:before {
			content: '';
			display: inline-block;
			width: 24px;
			height: 24px;
			background: #EEE;
			border-radius: 2px;
			margin-right: 14px;
			line-height: 30px;
			vertical-align: middle;
		}
}