nav {
  background: #414141;
  width: 70px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transition: width .2s ease;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    display: block;
    @include line-height(4.2);
    overflow: hidden;
    padding: 4px 10px;
    margin: 0;
    box-shadow: 0 1px 0 rgba(#333, .3);

    a {
      display: inline-block;
      width: 100%;
      white-space: nowrap;
      color: transparent;
      transition: color .1s ease-in;
    }

    a.selected:before {
      color: #fff;
    }
  }

  &:hover {
    width: 240px;
    z-index: 1000;
    @include line-height(3.2);

    a {
      color: rgba(#fff, .7);

      &:hover {
        color: #fff;
      }
    }

    .nav-create:before {
      display: none;
    }
  }

  & :before {
    color: rgba(#fff, .6);
    display: inline-block;
    @include font-size(2.4);
    width: 50px;
    text-align: center;
    font-family: "FontMfizz";
    vertical-align: middle;
  }
  
  .nav-create {
    background: #3CC05E;
    border-radius: 2px;
    margin: 4px 0;
    text-align: center;

    &:before {
      content: '+';
      font-weight: bold;
    }
  }


  .nav-do:before {
    content: '\f100';
  } 

  .nav-droplet:before {
    content: '\f102';
  }
  .nav-images:before {
    content: '\f103';
  }
  .nav-sshkeys:before {
    content: '\f104';
  }
  .nav-billing:before {
    content: '\f105';
  }
  .nav-support:before {
    content: '\f106';
  }
  .nav-dns:before {
    content: '\f107';
  }
  .nav-api:before {
    content: '\f108';
  }
}
