//  These styles were hacked, swiped and added for the demo drom the digitalocean.com site

.mt55 {
	line-height: 140%;

	.size {
		border-radius: 3px;
		display: inline;
		float: left;
		background-color: #fff;
		color: #666;
		cursor: pointer;
		text-align: center;
		width: 146px;
		border: 2px solid #f1f1f1;
		margin-right: 20px;
		margin-bottom: 20px;
		position: relative;
		transition: all .05s ease-in;

		&:hover {
			border: 2px solid darken(#f1f1f1, 4%);
		}

		&:nth-child(6) {
			margin-right: 0;
		}

		&.selected {
			border: 2px solid #479de4;
			position: relative;

			.pricing {
				background-color: #479de4;
				border-bottom: 2px solid #479de4;
				color: #fff;
			}
		}
	}

	.recomended:after {
		content: 'Recomend Size';
		color: #479de4;
		position: absolute;
		bottom: -12px;
		left: 10px;
		right: 10px;
		background: #fff;
		font-size: 12px;
		font-weight: $font-weight-bold;
		padding: 0;
		vertical-align: middle;
		border-radius: 3px;
		border: 2px solid #479de4;			
	}

	.pricing {
		display: block;
		border-bottom: 2px solid #f1f1f1;
		padding: 20px 0 11px;

		.monthly {
			display: block;
			text-transform: lowercase;

			.dollar {
				display: inline-block;
				font-size: 16px;
				line-height: 10px;
				vertical-align: top;
				position: relative;
				left: 2px;
			}
			
			.cost {
				font-size: 32px;
				font-weight: $font-weight-semi-bold;
			}

			.period {
				font-size: 16px;
				position: relative;
				right: 3px;
			}

		}

		.hourly {
			font-size:14px;

			.cost {
				display: inline-block;
			}
		}
	}

	.details {
		padding: 15px 0;
		font-size: 14px;
		
		strong {
    	font-weight: $font-weight-semi-bold;
			color: #666;
		}
		
		span {
			display: block;
			margin: 3px 0;
			color: #999999;
		}
	}

	input[type='radio'] {
		display: none;
	}
}
.region-geography.selected {
	background-color: #479de4;
	color: #fff;
	border-color: #479de4;
}




