<section class="droplet-type">
	<h3>What are you building?</h3>

	<ul class="tabs">
		<li class="tab">Linux Distributions</li>
		<li class="tab active">Applications</li>
		<li class="tab">My Images</li>
		<li class="tab">My Backups</li>
		<li class="tab">Destroyed Droplets</li>
	</ul>

	<div class="tab-content">
		<input type="text" placeholder="Search Applications">

		<ul class="applications">
			<li class="app">
			Redmine (Ubuntu 14.04)
				<span class="icon redmine"></span>
			</li>
			<li class="app active">
			WordPress 4.1 on (Ubuntu 14.04)
				<span class="icon wordpress"></span>
			</li>
			<li class="app">
			LAMP  (Ubuntu 14.04)
				<span class="icon lamp"></span>
			</li>
			<li class="app">
			LEMP  (Ubuntu 14.04)
				<span class="icon lemp"></span>
			</li>
			<li class="app">
			Jenkins 1.5.83 (Debian 7.0)
				<span class="icon jenkins"></span>
			</li>
			<li class="app">
			Ruby on Rails (Ubuntu 14.04)
				<span class="icon ruby"></span>
			</li>
			<li class="app">
			GitLab 7.2.1 CE  (Ubuntu 14.04)
				<span class="icon gitlab"></span>
			</li>
			<li class="app">
			Hubot  (Ubuntu 14.04)
				<span class="icon hubot"></span>
			</li>
			<li class="app">
			NodeJS (Ubuntu 14.04)
				<span class="icon nodejs"></span>
			</li>					
		</ul>
</div>

	<h3>Available Add-ons</h3>
	<span class="checkbox">WordPress Multi-Site</span>
	<span class="checkbox">Git Sever</span>
	<span class="checkbox">PHPMyAdmin</span>

</section>