<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ "/assets/css/main.css" }}">
    <link rel="stylesheet" href="{{ "/assets/css/font-mfizz.css" }}">
    <link rel="stylesheet" href="{{ "/assets/css/octicons.css" }}">

    <script type="text/javascript" src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  </head>

  <script>
    $(function() {
      $('.tabs .tab').click(function(){
        $('.tabs .tab').removeClass('active');
        $(this).addClass('active');
      });
    });

    $(function() {
      $('.applications .app').click(function(){
        $('.applications .app').removeClass('active');
        $(this).addClass('active');
      });
    });
  </script>
  <body>
