<nav>
  <li><a href="#" class="nav-do">DigitalOcean</a></li>
  <li><a href="#" class="nav-create">Create Droplet</a></li>
  <li><a href="#" class="nav-droplet selected">Droplets</a></li>
  <li><a href="#" class="nav-images">Images</a></li>
  <li><a href="#" class="nav-sshkeys">SSH Keys</a></li>
  <li><a href="#" class="nav-billing">Billing</a></li>
  <li><a href="#" class="nav-support">Support</a></li>
  <li><a href="#" class="nav-dns">DNS</a></li>
  <li><a href="#" class="nav-api">Apps &amp API</a></li>
</nav>
