<!-- <nav class="site-nav">
  {% for page in site.pages %}
    {% if page.title %}
    <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    {% endif %}
  {% endfor %}
</nav> -->

<nav>
  <li><a href="#" class="nav-do">DigitalOcean</a></li>
  <li><a href="#" class="nav-create">Create Droplet</a></li>
  <li><a href="#" class="nav-droplet selected">Droplets</a></li>
  <li><a href="#" class="nav-images">Images</a></li>
  <li><a href="#" class="nav-sshkeys">SSH Keys</a></li>
  <li><a href="#" class="nav-billing">Billing</a></li>
  <li><a href="#" class="nav-support">Support</a></li>
  <li><a href="#" class="nav-dns">DNS</a></li>
  <li><a href="#" class="nav-api">Apps &amp API</a></li>
</nav>
