  <section>
    <h3>Select Region<span>(ie what area serves your target market best.)</span></h3>

    <div id='region'>
      <ul id='regions'>
        <li class='region-geography selected' id='region-nyc'>
          <div class='region-geography-info'>
            <span class='icon'><img src="//cloud-cdn-digitalocean-com.global.ssl.fastly.net/assets/regions/new-york-1-22e38b18ab59c4e78dbc798bf6696dc3.png" alt=""></span>
            <span class='name'>New York</span>
          </div>

          <ul class='regions'>
            <li class='region selected-region'>3</li>
            <li class='region'>2</li>
            <li class='disabled region'>1</span></li>
          </ul>
        </li>

        <li class='region-geography' id='region-ams'>
          <div class='region-geography-info'>
            <span class='icon'><img src="//cloud-cdn-digitalocean-com.global.ssl.fastly.net/assets/regions/amsterdam-1-af81f3aa19f328ae11985820fa77c7fa.png" alt=""></span>
            <span class='name'>Amsterdam</span>
          </div>

          <ul class='regions'>
            <li class='region'>3</li>
            <li class='region'>2</li>
            <li class='disabled region'>1</span></li>
          </ul>
        </li>

        <li class='region-geography' id='region-sfo'>
          <div class='region-geography-info'>
            <span class='icon'><img src="//cloud-cdn-digitalocean-com.global.ssl.fastly.net/assets/regions/new-york-1-22e38b18ab59c4e78dbc798bf6696dc3.png" alt=""></span>
            <span class='name'>San Francisco</span>
          </div>

          <ul class='regions'>
            <li class='region'>1</li>
          </ul>
        </li>

        <li class='region-geography' id='region-sgp'>
          <div class='region-geography-info'>
            <span class='icon'><img src="\\cloud-cdn-digitalocean-com.global.ssl.fastly.net/assets/regions/singapore-1-ccf4c720271f0482500c15e81b0fdbf8.png" alt=""></span>
            <span class='name'>Singapore</span>
          </div>

          <ul class='regions'>
            <li class='region'>1</li>
          </ul>
        </li>

        <li class='region-geography' id='region-lon'>
          <div class='region-geography-info'>
            <span class='icon'><img src="http://cloud-cdn-digitalocean-com.global.ssl.fastly.net/assets/regions/london-1-cb00873da4ba80499143da5ae33cb4c5.png" alt=""></span>
            <span class='name'>London</span>
          </div>

          <ul class='regions'>
            <li class='region'>1</li>
          </ul>
        </li>
      </ul>
    </div>

    <h4>Available Regional Settings</h4>
    <div class="checkbox">
      <input type="checkbox" name="pn" id="pn">
      <label for="pn">Private Networking</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" name="ipv6" id="ipv6">
      <label for="ipv6">IPv6</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" name="eb" id="eb">
      <label for="eb">Enable Backups</label>
    </div>
  </section>
