  <section class="traffic">
    <h3>Anticipated Traffic</h3>

    <ul>
      <li class="meter">
        <span class="title">Micro</span>
        <span class="info">>  10k Page Views / Mo.</span>
      </li>
      <li class="meter active">
        <span class="title">Look Mom</span>
        <span class="info">10k - 100k views/mo</span>
      </li>
      <li class="meter">
        <span class="title">Startup Gone Wild</span>
        <span class="info">100k - 500k views/mo</span>
      </li>
      <li class="meter">
        <span class="title">Enterprise Me</span>
        <span class="info">500k - 1M views/mo</span>
      </li>
    </ul>

    <p>(view <a href="">DigitalOcean Guide to Traffic</a> to help with anticipated traffic needs).</p>
  </section>